[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ipykernel>=6.29.5",
    "polars>=1.35.2",
    "psycopg2-binary>=2.9.11",
]
